.footer{
    width: auto;
    margin-top: auto;
}
@media screen and (max-width: 880px){
    .footer{
        margin-right: 19px;
        margin-left: 19px;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}
@media screen and (min-width: 880px){
    .footer{
        margin-right: 0;
        margin-left: 0;
        padding-top: 67px;
        padding-bottom: 60px;
    }
}